   /* Default Light Theme */
body {
  background-color: #f1f7d7;
  color: #222;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
html {
    cursor: url('chicken-click.png'), default;
}
/* Dark Mode */
body.dark-mode {
  background-color: #444d1d;
  color: #f1f7d7;
}

/* Container Styling */
.container {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
}

/* Toggle Button */
#toggle-mode {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

#toggle-mode:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#toggle-mode img {
  width: 24px;
  height: 24px;
  display: block;
}

.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5); /* light ripple, can be customized */
  pointer-events: none;
  transform: scale(0);
  animation: ripple-animation 0.6s ease-out;
  z-index: 9999;
}

@keyframes ripple-animation {
  to {
    transform: scale(10);
    opacity: 0;
  }
}


.video-section {
  text-align: center;
  margin-top: 40px;
}

.video-section h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: inherit;
}

video {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
} 
